@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  color: #fff;
  font-family: 'Inter', system-ui, sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar { width: 0; }

.leaflet-container { background: #111 !important; }
.leaflet-control-attribution {
  background: rgba(0,0,0,0.4) !important;
  color: #333 !important;
  font-size: 9px !important;
}